{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>	
			</ul>
		</div>
	</div>
	<hr />
    <ul class="players">
        {% for player in players %}
        <li class="player"><h2 id={{ player.id }}>{{ player.name}}</h2></li>
        {% else %}
        <li><em> No entries yet. Add some!</em></li>
        {% endfor %}
    </ul>
    <div class="row clearfix" align="center">
		<div class="col-md-2 column">
			<div id="sortMe2">
				<div id="item_1">QB</div>
				<div id="item_2">QB2</div>
				<div id="item_3">QB3</div>
				<div id="item_4">QB4</div>
				<div id="item_5">QB5</div>
				<div id="item_6">QB6</div>
			</div>
		</div>
		<div class="col-md-2 column">
		RB
		</div>
		<div class="col-md-2 column">
		WR
		</div>
		<div class="col-md-2 column">
		TE
		</div>
		<div class="col-md-2 column">
			<div class="row">DEF</div>
			<div class="row">K</div>
		</div>
	</div>
</div>

{% endblock %}
