{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-10 column">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Home</a>
				</li>	
			</ul>
		</div>
	</div>
    <br/>
    <div class="row clearfix" align="center">
		<div class="col-md-2 column">
            <div class="QBs">
                QBs
                {% for player in players|QB %}
                <ul data-id="{{ player.player_id }}">{{ player.name }}, {{ player.position }}</ul>
                {% else %}
                <ul><em> No entries yet. Add some!</em></ul>
                {% endfor %}
            </div>
		</div>
		<div class="col-md-2 column">
            <div class="RBs">
            RBs
            <!-- need to check based on position -->
            {% for player in players|RB %}
            <ul data-id="{{ player.player_id }}">{{ player.name }}, {{ player.position }}</ul>
            {% else %}
            <ul><em> No entries yet. Add some!</em></ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="WRs">
            WRs
            <!-- need to check based on position -->
            {% for player in players|WR %}
            <ul data-id="{{ player.player_id }}">{{ player.name}}</ul>
            {% else %}
            <ul><em> No entries yet. Add some!</em></ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2 column">
            <div class="TEs">
            TEs
            <!-- need to check based on position -->
            {% for player in players|TE %}
            <ul data-id="{{ player.player_id }}">{{ player.name}}</ul>
            {% else %}
            <ul><em> No entries yet. Add some!</em></ul>
                {% endfor %}
            </div>
		</div>
		<div class="col-md-2 column">
			<div class="DEFs">
                DEFs
                {% for player in players|DEF %}
                <ul data-id="{{ player.player_id }}">{{ player.name}}</ul>
                {% else %}
                <ul><em> No entries yet. Add some!</em></ul>
                    {% endfor %}
            </div>
			<div class="Ks">
                Ks
                {% for player in players|K %}
                <ul data-id="{{ player.player_id }}">{{ player.name}}</ul>
                {% else %}
                <ul><em> No entries yet. Add some!</em></ul>
                    {% endfor %}
            </div>
		</div>
	</div>
</div>
<input type="submit" value="Save" class="btn btn-primary" id="submit"></input>
{% endblock %}
